

#backgroundWrapper, #backgroundContainer, #root {
  width:100%;
  height:100%;
}
#backgroundWrapper {
  position:fixed;
}
#backgroundContainer {
  background-color: black;
}
#root {
  position: absolute;
  overflow: scroll;
  margin: 0px;
  top: 0px;
}